@import url('https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 80.0%;
}

.inputFilter {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

body {
  font-family: 'Game of Thrones', sans-serif;
  font-size: 1.8rem;
  background-color: #0D0D0D;
  /*background-image: url(./throne-game-of-thrones.gif);*/
}

.index {
  background: #000000;
 
}

h1 {
  font-size: 2.5rem;
  color: #BFBCAA;
}

#btnMenu {
  background: #252625;
  text-align: left;
}

.inicio a {
  font-family: 'Roboto', sans-serif;
  color: #BFBCAA;
  font-size: 2.50rem;
  margin-left: 4.0rem;
  text-decoration: none;

}

nav #Menu {
  width: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

#Menu li {
  list-style: none;
}

#Menu li a {
  text-decoration: none;
  font-family: "Game of Thrones", sans-serif;
  color: #BFBCAA;
  font-size: 1.9rem;
  padding: 20px 0;
  text-decoration: none;
}

#Menu li a:hover {
  background-image: url(./assets/fogo.gif);
  color: #ec5d1b;

}

#Menu li.personagens a:hover {
  background-image: url(./assets/fogo_gelo.gif);
  color: #1b9fec;
}

main {
  text-align: center;
  padding: 3.2rem;
  max-width: 46rem;
  margin: auto;
}

.section-filter {
  position: relative;
}

main input {
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;

  background-color: #595856;
  border: 0;

  width: flex;
  color: #F2F1E4;

  font-size: 1.6rem;
}

/* .section-filter i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}*/

main {
  padding-inline: 2.2rem;
  max-width: 2200px;
  margin: 0.0rem auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardPersonagens {
  flex: 0 1 230px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background: #252625;
  border: 4px solid #585959;
  box-shadow: 0 0 5px #252625;
  color: #252625;
  font-size: 0.95rem;
  user-select: none;
}

.cardPersonagens img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 5px solid #585959;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: top;
  user-select: none;
}

.cardPersonagens h3 {
  font-family: 'Roboto', sans-serif;

}

.cardPersonagens h3,
.cardPersonagens h2 {
  background: #A6A3A1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.625rem;
  text-align: center;
  user-select: none;
}

.cardPersonagens h2 {
  font-size: 1.1rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnTopo img {
  width: 60px;
  height: 160px;
  position: fixed;
  bottom: 02px;
  right: 02px;
  display: flex;
}

footer {
  font-family: 'Roboto', sans-serif;
  bottom: 0;
  color: #979695;
  font-size: 1.3rem;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}


/* Estilizando a caixa de seleção */
#filtrarPorFamilia {
  margin-top: 1rem;
  margin-left: 0.98rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;

  background-color: #595856;
  border: 0;

  width: flex;
  color: #979695;

  font-size: 1.6rem;

}

#filtrarOrdem {
  margin-top: 1rem;
  margin-left: 0.98rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;

  background-color: #595856;
  border: 0;

  width: flex;
  color: #979695;

  font-size: 1.6rem;
}
.textSobre{
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  color: #A6A3A1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  text-align: justify;
}
figure{
  height: flex;
  width: flex;
  text-align: center;
}
