@import url('https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 80.0%;
}

.inputFilter {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}
body {
  font-family: 'Game of Thrones', sans-serif;
  font-size: 1.8rem;
  background-color: #0D0D0D;
  /*background-image: url(./throne-game-of-thrones.gif);*/
}
h1 {
  font-size: 2.5rem;
  color: #BFBCAA;
}
.menu a{
  font-family: 'Roboto', sans-serif;
  color: #BFBCAA;
  font-size: 2.50rem;
  
}
section#Home #Busca {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#Home #Busca li {
  list-style: none;
}

#Home #Busca li a {
  text-decoration: none;
  font-family: "Game of Thrones", sans-serif;
  color: #BFBCAA;
  font-size: 1.6em;
  padding: 20px 0;
  text-decoration: none;
} 

#Home #Busca li a:hover {
  background-image: url(./assets/fogo.gif) ;
  color: #ec5d1b;

} 
#Home #Busca li.personagens a:hover {
  background-image: url(./assets/fogo_gelo.gif);
  color: #1b9fec;
}
header {
  text-align: center;
  padding: 3.2rem;
  max-width: 46rem;
  margin: auto;
}

.section-filter {
  position: relative;
}
header input {
  margin-top: 2rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;

  background-color: #595856;
  border: 0;

  width: 100%;
  color: #F2F1E4;

  font-size: 1.6rem;
}

/* .section-filter i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}*/

main {
  padding-inline: 2.2rem;
  max-width: 2200px;
  margin: 0.0rem auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 1 230px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background: #252625;
  border: 4px solid #585959;
  box-shadow: 0 0 5px #252625;
  color: #252625;
  font-size: 0.95rem;
  user-select: none;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 5px solid #585959;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: top;
  user-select: none;
}

.card h3 {
  font-family: 'Roboto', sans-serif;

}

.card h3,
.card h2 {
  background: #A6A3A1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.625rem;
  text-align: center;
  user-select: none;
}

.card h2 {
  font-size: 1.1rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnTopo img {
  width: 60px;
  height: 160px;
  position: fixed;
  bottom: 02px;
  right: 02px;
  display: flex;
}
footer {
  font-family: 'Roboto', sans-serif;
  color: #e9e7df;
  font-size: medium;
  text-align: center;
  
}
section p{
  font-family: 'Roboto', sans-serif;
  color: #e9e7df;
  font-size: large;
  margin-top: 2rem;
  margin-right:1rem; 
}
/* Estilizando a caixa de seleção */
.familia-input {
  width: 50%; /* Define a largura da caixa de seleção */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #e9e7df; /* Borda */
  border-radius: 8px; /* Cantos arredondados */
  background-color: #444; /* Cor de fundo */
  color: #e9e7df; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
  margin-top: 1rem;
  
}
/* Estilizando as opções da caixa de seleção */
.familia-input option {
  background-color: #444; /* Cor de fundo das opções padrão */
  color: #e9e7df; /* Cor do texto das opções padrão */
}
/* Quando a caixa de seleção estiver em foco */
.familia-input:focus {
  outline: none; /* Remove o contorno padrão */
  border-color: #e9e7df; /* Cor da borda em foco */
  box-shadow: 0 0 5px #e9e7df; /* Sombra em foco */

}
