@import url('https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*resetando a página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

/*corpo das páginas*/
#main-container {
  display: flex;
  flex-direction: column;
  /*corpo das páginas em coluna*/
  min-height: 100vh;
  background-color: #000000;
  font-family: 'Game of Thrones', sans-serif;
}

/*titulo texto sobre e personagens*/
h1 {
  font-size: 2.5rem;
  color: #BFBCAA;
}

/*cabeçalho inicio*/
header .inicio {
  background: #252625;
  text-align: left;
  display: flex;
}

.inicio a {
  font-family: 'Roboto', sans-serif;
  color: #BFBCAA;
  background: none;
  font-size: 2.50rem;
  margin-left: 4.0rem;
  text-decoration: none;
  padding: 1rem;
  display: flex;

}

/*menu pag index*/
nav #Menu {
  width: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;

}

#Menu li {
  list-style: none;
}

#Menu li a {
  font-family: "Game of Thrones", sans-serif;
  word-spacing: 10px;
  color: #BFBCAA;
  font-size: 2.5rem;
  padding: 20px 0;
  text-decoration: none;

}

#Menu li a:hover {
  background-image: url(./assets/fogo.gif);
  color: #ec5d1b;

}

#Menu li.personagens a:hover {
  background-image: url(./assets/fogo_gelo.gif);
  color: #1b9fec;
}

main {
  text-align: center;
  padding: 3.2rem;
  max-width: 46rem;
  margin: auto;
}

.section-filter {
  position: relative;
}

/* Estilizando Filtros */
main input {
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;
  background-color: #595856;
  border: 0;
  width: flex;
  color: #F2F1E4;
  font-size: 1.6rem;
}

/* Estilizando a caixa de seleção */
#filtrarPorFamilia {
  margin-top: 1rem;
  margin-left: 0.98rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;
  background-color: #595856;
  border: 0;
  width: flex;
  color: #979695;
  font-size: 1.6rem;

}

#filtrarOrdem {
  margin-top: 1rem;
  margin-left: 0.98rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;
  background-color: #595856;
  border: 0;
  width: flex;
  color: #979695;

  font-size: 1.6rem;
}

main {
  padding-inline: 2.2rem;
  max-width: 2200px;
  margin: 0.0rem auto;
}

.cardPersonagens {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  flex: 0 1 230px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background: #252625;
  border: 4px solid #585959;
  box-shadow: 0 0 5px #252625;
  color: #252625;
  font-size: 0.95rem;
  user-select: none;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 5px solid #585959;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: top;
  user-select: none;
}

.card h3 {
  font-family: 'Roboto', sans-serif;

}

.card h3,
.card h2 {
  background: #A6A3A1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.625rem;
  text-align: center;
  user-select: none;
}

.card h2 {
  font-size: 1.1rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnTopo img {
  width: 60px;
  height: 160px;
  position: fixed;
  bottom: 02px;
  right: 02px;
  display: flex;
  background: none;
}

footer {
  font-family: 'Roboto', sans-serif;
  bottom: 0;
  color: #979695;
  font-size: 1.3rem;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;

}

.textSobre {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #A6A3A1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  text-align: justify;

}

figure {
  height: flex;
  width: flex;
  text-align: center;
}

/* MOBILE */

@media(max-width:450px) {

  #main-container {
    flex-wrap: wrap;
    min-height: 100vh;
  }

  /*menu pag index*/
  nav #Menu {
    margin-top: 9rem;
    max-height: none;
    justify-content: wrap;

  }

  #logo img {
    width: 70vw;
  }

  #Menu li a {
    text-align: center;
    font-size: medium;
  }

  /*titulo texto sobre e personagens*/
  h1 {
    font-size: x-large;
    color: #BFBCAA;
  }

  .textSobre h2 {
    font-size: small;
    color: #BFBCAA;
  }

  figure img {
    width: 50vw;

  }

  /*cabeçalho inicio*/
  header .inicio {
    background: #252625;
    text-align: center;

  }

  .inicio a {
    font-family: 'Roboto', sans-serif;
    color: #BFBCAA;
    background: none;
    font-size: xx-large;
    text-decoration: none;
    padding: 1rem;
    display: flex;

  }

  footer {
    font-size: x-small;
  }

  .btnTopo img {
    width: 10vw;
    height: auto;
  }

  .section-filter {
    font-size: xx-small;
  }

main input {
  width: auto;
  height: auto;
  font-size: small;
}

#filtrarPorFamilia {
  width: auto;
  height: auto;
  font-size: small;

}

#filtrarOrdem {
  width: auto;
  height: auto;
  font-size: small;

}


}